
/*
 *   Body
 */

html
{
    height: 100%;
    overflow: hidden;
    position: relative;
}

body
{
    margin: 0;
    padding: 0;
    background: #aea79f;
    height: 100%;
    overflow: hidden;
    position: relative;
}

a
{
    cursor: pointer;
}

#admin_wrapper
{
    margin: 0;
    padding-left: 80px;
    position: relative;
    height: 100%;
    overflow: hidden;
}


/*
 *   Sidebar
 */

#admin_sidebar
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 80px;
    height: 100%;
    background: #444444;
}

#admin_sidebar .admin_sidebar_split
{
    zoom: 1;
}

#admin_sidebar .admin_sidebar_split .admin_sidebar_col
{
    width: 40px;
    float: left;
}

#admin_sidebar .admin_sidebar_split .admin_sidebar_col2
{
    position: absolute;
    left: 40px;
    height: 100%;
    background: #666666;
}

#admin_sidebar .block
{
    width: 80px;
    height: 80px;
    text-align: center;
}

#admin_sidebar .admin_sidebar_split .admin_sidebar_col .block
{
    width: 40px !important;
    height: 40px !important;
    text-align: center;
}


#admin_sidebar .block.selectable
{
    cursor: pointer;
}

#admin_sidebar .block.selectable:hover
{
    background: #666666;
    cursor: pointer;
}

#admin_sidebar .admin_sidebar_split .admin_sidebar_col2 .block.selectable:hover
{
    background: #888888;
}

#admin_sidebar .block.active
{
    background: #666666;
}

#admin_sidebar .admin_sidebar_split .admin_sidebar_col2 .block.active
{
    background: #888888;
}

#admin_sidebar .block span
{
    display: inline-block;
    height: 46px;
    padding: 15px 0px;
    color: #ffffff;
    font-size: 35px;
}

#admin_sidebar .admin_sidebar_split .admin_sidebar_col .block span
{
    display: inline-block;
    height: 23px;
    padding: 8px 0px;
    color: #ffffff;
    font-size: 18px;
}

#admin_sidebar .block.gray span
{
    color: #919191;
}


/*
 *   Content
 */

#content
{
    padding: 0px;
    font-size: 14px;
    line-height: 20px;
}

#content h1
{
    display: block;
    margin: 0px;
    padding: 14px 40px;
    height: 80px;
    color: #ffffff;
    font-weight: normal;
    font-size: 44px;
}

#content .contentwrapper
{
    margin: 0px 80px 40px 0px;
    padding: 40px;
    background: #ffffff;
    color: #333333;
}


/*
 *   General list functionality
 */

div.list ul.globalactions
{
    list-style-type: none;
    padding: 0;
    margin: 0px 0px 20px 0px;
    text-align: right;
}

div.list ul.globalactions li.action
{
    display: inline-block;
    margin: 0px 0px 0px 15px;
}

div.list th.rowactions, div.list td.rowactions
{
    padding-left: 30px;
    text-align: right;
    white-space:nowrap;
}

div.list th.rowactions, div.list td.rowactions ul.rowactions
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

div.list th.rowactions, div.list td.rowactions ul.rowactions li.rowaction
{
    display: inline-block;
    margin: 0px 3px;
}

div.list th.rowactions, div.list td.rowactions ul.rowactions li.rowaction.disabled span, div.list th.rowactions, div.list td.rowactions ul.rowactions li.rowaction span.disabled
div.list th.rowactions, div.list td.rowactions ul.rowactions li.rowaction.disabled span, div.list th.rowactions, div.list td.rowactions ul.rowactions li.rowaction span.disabled
{
    color: #cccccc;
}


/*
 *   Structure list
 */

.struct-list th.languages, .struct-list td.languages
{
    white-space:nowrap;
    padding-left: 30px;
}


/*
 *    Languages
 */


.lang-tag
{
    display: inline-block;
    margin: 0px 3px;
    padding: 4px;
    font-size: 9px;
    font-weight: bold;
    background: #000000;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.lang-tag.active
{
    background: #00aa00;
}

.lang-tag.disabled
{
    background: #808080;
}


/*
 *   Forms
 */

.notes
{
  margin-top: 40px;
}


/*
 *   Lists
 */

.returnlink
{
  margin-top: 40px;
}

/*
 *   Settings
 */

.settings-list
{
    font-size: 20px;
    line-height: 30px;
}