/*
 *   Icon fonts
 */

@font-face 
{
  font-family: 'iconation';
  src: url('/base/static/fonts/iconation.eot?7369139');
  src: url('/base/static/fonts/iconation.eot?7369139#iefix') format('embedded-opentype'),
       url('/base/static/fonts/iconation.woff?7369139') format('woff'),
       url('/base/static/fonts/iconation.ttf?7369139') format('truetype'),
       url('/base/static/fonts/iconation.svg?7369139#iconation') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before 
{
  font-family: "iconation";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
 
  font-variant: normal;
  text-transform: none;
     
  line-height: 1em;
 
  margin-left: .2em;
}
 
.icon-cl:before { content: '\e800'; }
.icon-login:before { content: '\e801'; }


/*
 *   Body
 */

html
{
    height: 100%;
    overflow: hidden;
    position: relative;
}

body
{
    margin: 0;
    padding: 0;
    background: #aea79f;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#wrapper
{
    margin: 0;
    padding-left: 80px;
    position: relative;
    height: 100%;
    overflow: hidden;
}


/*
 *   Base styles
 */

div
{
    overflow: hidden;
    zoom: 1;
}


/*
 *   Sidebar
 */

#sidebar
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 80px;
    height: 100%;
    background: #444444;
}

#sidebar .block
{
    width: 80px;
    height: 80px;
    text-align: center;
}

#sidebar .block.active
{
    background: #666666;
}

#sidebar .block span
{
  display: inline-block;
  height: 46px;
  padding: 15px 0px;
  color: #ffffff;
  font-size: 35px;
}



/*
 *   Login box
 */

.loginwrapper
{
    margin-top: 80px;
    padding: 20px;
    width: 360px;
    height: 230px;
    background: #ffffff;
}