
/*
 *   Body
 */

body, html
{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#admin_wrapper
{
    margin: 0;
    padding-left: 80px;
    position: relative;
    height: 100%;
    overflow: hidden;
}


/*
 *   Sidebar
 */

#admin_sidebar
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 80px;
    height: 100%;
    background: #444444;
}

#admin_sidebar iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
}

